/* 
    Document   : style
    Created on : Jan 11, 2013, 6:18:27 PM
    Author     : VipinKumar Dubey
    Description:
        Purpose of the stylesheet follows.
*/
/************************** Main Styles + Timeline Page****************************/
body{
    
}

.top-bar{
    background-color: #3B579E;
    padding:10px 0px 0px 0px;
}

.timeline-page{background-color: #E7EBF3;}

#wrapper{
    
    
}

.profile-block{background:white;}

.message{background-color: #ffffff; padding:10px;}

.nav-timeline{list-style-type: none;}

.profile-pic{width: 150px;height:150px;}

.thumb{width:100px; height:90px;}


.profile-pic-container {
background: white;
float: left;
position: absolute;
top: 250px;
left: 180px;
padding: 5px;
height: 160px;

}

.short-profile{background:white;padding:10px;}

.user_name{margin-left:200px;width:250px;}

.short-profile_top_right_links{float: right;
position: relative;
top: -50px;}

.row_1{height: 50px;}

.short_bio{float:left; width:350px; margin-right: 10px;background-color: #E7EBF3;padding:5px;}

.friends{width: 110px;display: inline-block;}
.photos{width: 110px;display: inline-block;}
.likes{width: 110px;display: inline-block;}
.map{width: 110px;display: inline-block;}

.top-right-nav {list-style-type: none;top: -8px;right: 0px; position: relative;}

.top-right-nav li{float:right; margin-left:10px;}

.site-title{color:white; font-weight: bold; text-decoration: none; font-size: 26px;}

.top-right-nav li a{color:white; font-weight: bold; text-decoration: none; font-size: 12px;}

.cover{width: 830px;}

.share-options{list-style-type:none}

.share-options li{float:left;margin-right: 10px;}

.timeline .left, .timeline .right {width: 400px;}

.timeline .left{float:left}

.timeline .right{float:right;}

.timeline .middle{margin-left: 410px;margin-right: 10px;}


.seperator{background-color:graytext;height:600px;width:5px;}

.white{background: white; padding:5px;margin-top: 20px;}

.more{float:right; width:100px;}

.small-user-pic{float:left;width:50px;}

.name-and-update-with-time{margin-left: 60px;height:60px;}

.block-top{border-bottom: 1px solid gainsboro}

.extra-padding{padding:10px;}

.comment-form{margin-left: 60px;height:60px;}

.large{width:370px;}

/***********************************Login Page**********************************/

.login-page{}

.login-form-container{padding: 0px 25px 20px 25px;
border: 1px solid #c0c0c0;
width: 400px;
margin: 150px auto;}

.login-form input[type="text"], .login-form input[type="password"]{
    
    display:block;
    margin:0 0 1em 0;
    width:280px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding:0.7em;
    border-color: #b3d4fc;
}

.login-form input[type="submit"], .login-form form a{
    
    border:none;
    margin-right:1em;
    padding:6px;
    text-decoration: none;
    font-size:12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #5b74a8;
    color:white;
    border-color:#29447e #29447e #1a356e;
}

.login-form h2{border-bottom: 1px solid #c0c0c0;}

.login-form input[type="submit"]:hover, .login-form form a:hover{
    
    background:#003399;
    cursor: pointer;
}

.error{color:#393939;font-size:15px;}

fieldset{
    width:300px;
    margin:auto;
    margin-bottom:2em;
    display:block;   
}

/***********************************Signup Page**********************************/

.signup-page{
    
    background-color: #E7EBF3;
}

.signup-form-container{padding: 0px 25px 20px 25px;

width: 380px;
margin: 70px auto;}

.signup-form input[type="text"], .signup-form input[type="password"]{
    
    display:block;
    margin:0 0 1em 0;
    width:280px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:0.7em;
    border-color: #b3d4fc;
}


.signup-form input[type="submit"], .signup-form form a{
    
    border:none;
    margin-right:1em;
    padding:6px;
    text-decoration: none;
    font-size:12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #5b74a8;
    color:white;
    border-color:#29447e #29447e #1a356e;
}

.signup-form h1{border-bottom: 1px solid #c0c0c0;}

.signup-form input[type="submit"]:hover, .signup-form form a:hover{
    
    background:#003399;
    cursor: pointer;
}